/*
  BW Color Contrast AI - style.css
  Author: Eric Liang
  Author URI: https://www.eric-liang.com
  Author Github URI: https://www.github.com/ewliang
  Project Repository URI: https://github.com/ewliang/BW-Color-Contrast-AI
  Description: The main stylesheet for the BW Color Contrast AI project.
  License: GPL v3.0
*/

* {
  font-family: 'Arial', sans-serif;
}

html {
  font-size: 100%;
}

body {
  font-size: 16px;
  font-size: 1rem;
  max-height: 100vh;
  margin: 0px;
}

header {
  background-color: #fff;
  padding: 3%;
}

h1 {
  font-size: 24px;
  font-weight: 600;
  margin: 0;
}

p {
  font-size: 0.875rem;
  font-weight: 100;
  line-height: 1.6;
}

main {
  display: flex;
  flex-direction: column;
}

main div {
  display: flex;
  flex-direction: row;
  padding: 8%;
}

main div div {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main div div:hover {
  cursor: pointer;
}

#blackText {
  font-size: 1.5rem;
  color: #000 !important;
}

#whiteText {
  font-size: 1.5rem;
  color: #fff !important;
}

footer {
  text-align: center;
  padding: 3% 0;
}
