/*
  BW Color Contrast AI - style.css
  Author: Eric Liang
  Author URI: https://www.eric-liang.com
  Author Github URI: https://www.github.com/ewliang
  Project Repository URI: https://github.com/ewliang/BW-Color-Contrast-AI
  Description: The main stylesheet for the BW Color Contrast AI project.
  License: GPL v3.0
*/

main {
  display: flex;
  flex-direction: column;
}

main div {
  display: flex;
  flex-direction: row;
  border: 1px solid black;
}

main div div {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

main div div:hover {
  cursor: pointer;
}

#blackText {
  font-size: 24px;
  color: #000 !important;
}

#whiteText {
  font-size: 24px;
  color: #fff !important;
}
